<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navigation') %> <%= JSON.stringify(user) %> <%-
    include('./partials/scripts') %>
  </body>
</html>
